{
    "openapi": "3.0.3",
    "info": {
      "version": "1.0",
      "title": "Certificate Manager Service API",
      "description": "Using the Certificate Manager Service, you can conveniently provision and manage SSL certificates with IONOS services and your internal connected resources. For the [Application Load Balancer](https://api.ionos.com/docs/cloud/v6/#Application-Load-Balancers-get-datacenters-datacenterId-applicationloadbalancers), you usually need a certificate to encrypt your HTTPS traffic.\n\nThe service provides the basic functions of uploading and deleting your certificates for this purpose."
    },
    "servers": [
      {
        "url": "https://api.ionos.com",
        "description": "Production"
      }
    ],
    "security": [
      {
        "basicAuth": []
      },
      {
        "tokenAuth": []
      }
    ],
    "tags": [
      {
        "name": "Information",
        "description": "These endpoints are for documentation and information purposes."
      },
      {
        "name": "Certificates",
        "description": "SSL certificates are used to secure network communications and prove the identity of websites on the Internet and resources on private networks."
      }
    ],
    "paths": {
      "/certificatemanager/openapi.yaml": {
        "get": {
          "tags": [
            "Information"
          ],
          "summary": "Get the Open API Documentation YAML",
          "description": "Displays the Open API documentation in the YAML format.",
          "operationId": "getYamlOpenApiSpec",
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/yaml": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "/certificatemanager/openapi.json": {
        "get": {
          "tags": [
            "Information"
          ],
          "summary": "Get the Open API Documentation JSON",
          "description": "Displays the Open API documentation in the JSON format.",
          "operationId": "getJsonOpenApiSpec",
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "/certificatemanager": {
        "get": {
          "tags": [
            "Information"
          ],
          "summary": "Get the Service API Information",
          "description": "Retrieves the service API information.",
          "operationId": "getInfo",
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiInfoDto"
                  }
                }
              }
            }
          }
        }
      },
      "/certificatemanager/certificates": {
        "get": {
          "parameters": [
            {
              "in": "query",
              "name": "offset",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "'Limit' and 'Offset' are optional; you can use these filter parameters to retrieve only part of the results obtained by a request.\n\nOffset is the first element (from the complete list of elements) to be included in the response."
            },
            {
              "in": "query",
              "name": "limit",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "'Limit' and 'Offset' are optional; you can use these filter parameters to retrieve only part of the results of a query.\n\nIf both 'Offset' and 'Limit'are specified, the offset lines are skipped before counting the returned limit lines."
            }
          ],
          "tags": [
            "Certificates"
          ],
          "summary": "Get Certificates",
          "description": "Retrieves all available certificates.",
          "operationId": "certificatesGet",
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateCollectionDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        },
        "post": {
          "tags": [
            "Certificates"
          ],
          "summary": "Add a New Certificate",
          "description": "Adds a new PEM (Privacy Enhanced Mail) file that is used to store SSL certificates and their associated private keys.",
          "operationId": "certificatesPost",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificatePostDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateDto"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "Unauthorized."
            },
            "403": {
              "description": "Forbidden."
            }
          }
        }
      },
      "/certificatemanager/certificates/{certificateId}": {
        "get": {
          "tags": [
            "Certificates"
          ],
          "summary": "Get a Certificate by ID",
          "description": "Retrieves a certificate specified by its ID.",
          "operationId": "certificatesGetById",
          "parameters": [
            {
              "in": "path",
              "name": "certificateId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateDto"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request."
            },
            "401": {
              "description": "Unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "Not Found."
            }
          }
        },
        "patch": {
          "tags": [
            "Certificates"
          ],
          "summary": "Update a Certificate Name by ID",
          "description": "Updates the name of the specified certificate.",
          "operationId": "certificatesPatch",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificatePatchDto"
                }
              }
            }
          },
          "parameters": [
            {
              "in": "path",
              "name": "certificateId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateDto"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request."
            },
            "401": {
              "description": "Unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "Not Found."
            }
          }
        },
        "delete": {
          "tags": [
            "Certificates"
          ],
          "summary": "Delete a Certificate by ID",
          "description": "Deletes a certificate specified by its ID.",
          "operationId": "certificatesDelete",
          "parameters": [
            {
              "in": "path",
              "name": "certificateId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Successful operation."
            },
            "400": {
              "description": "Bad Request."
            },
            "401": {
              "description": "Unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "Not Found."
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "basicAuth": {
          "description": "For 'Basic' authentication, take your credentials by first combining the username and password with a colon (``username:password``) and then encoding the resulting string in base64 (``YWxhZGRpbjpvcGVuc2VzYW1l``).\n\n**Example Request Header**\n\n``Authorization: Basic YWxhZGRpbjpvcGVuc2VzYW1l``\n\n More details: https://en.wikipedia.org/wiki/Basic_access_authentication",
          "type": "http",
          "scheme": "basic"
        },
        "tokenAuth": {
          "type": "apiKey",
          "name": "Authorization",
          "in": "header",
          "description": "Authorization is granted when a valid proof of identity is provided along with an API request for data. This proof of identity is in the form of a JSON web access token, a unique string that identifies a user. \n\n**Example Request Header**\n\n``Authorization: Bearer ACCESS_TOKEN``"
        }
      },
      "schemas": {
        "ApiInfoDto": {
          "description": "The information about the API.",
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "format": "uri",
              "description": "The API entry point.",
              "readOnly": true
            },
            "name": {
              "type": "string",
              "example": "Certificate Manager API.",
              "description": "The API name.",
              "readOnly": true
            },
            "version": {
              "type": "string",
              "example": "1.0",
              "description": "The API version.",
              "readOnly": true
            }
          }
        },
        "CertificatePostDto": {
          "description": "Used to create a new certificate.",
          "type": "object",
          "required": [
            "properties"
          ],
          "properties": {
            "properties": {
              "$ref": "#/components/schemas/CertificatePostPropertiesDto"
            }
          }
        },
        "CertificatePatchDto": {
          "description": "Used to patch a certificate's name.",
          "type": "object",
          "required": [
            "properties"
          ],
          "properties": {
            "properties": {
              "$ref": "#/components/schemas/CertificatePatchPropertiesDto"
            }
          }
        },
        "CertificateCollectionDto": {
          "description": "A collection of certificates.",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The resource ID.",
              "example": "Certificates",
              "readOnly": true
            },
            "type": {
              "type": "string",
              "description": "The resource type.",
              "example": "collection",
              "readOnly": true
            },
            "href": {
              "type": "string",
              "format": "uri",
              "description": "The URL to the object representation (absolute path).",
              "example": "https://api.ionos.com/certificatemanager/certificates",
              "readOnly": true
            },
            "items": {
              "type": "array",
              "description": "The list of certificates.",
              "items": {
                "$ref": "#/components/schemas/CertificateDto"
              },
              "readOnly": true
            },
            "offset": {
              "type": "integer",
              "description": "The pagination offset.",
              "example": 10,
              "readOnly": true
            },
            "limit": {
              "type": "integer",
              "description": "The pagination limit.",
              "example": 100,
              "readOnly": true
            },
            "_links": {
              "type": "object",
              "properties": {
                "prev": {
                  "type": "string",
                  "description": "The previous page.",
                  "example": "https://api.ionos.com/certificatemanager/certificates?offset=50&limit=10"
                },
                "self": {
                  "type": "string",
                  "description": "The current page.",
                  "example": "https://api.ionos.com/certificatemanager/certificates?offset=60&limit=10"
                },
                "next": {
                  "type": "string",
                  "description": "The next page.",
                  "example": "https://api.ionos.com/certificatemanager/certificates?offset=70&limit=10"
                }
              }
            }
          }
        },
        "CertificateDto": {
          "description": "The certificate information.",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The certificate ID.",
              "example": "63f766c7-3f85-4d83-b528-8ddeec5b436c",
              "readOnly": true
            },
            "type": {
              "type": "string",
              "description": "The resource type.",
              "example": "certificate",
              "readOnly": true
            },
            "href": {
              "type": "string",
              "description": "The URL to the object representation (absolute path).",
              "example": "https://api.ionos.com/certificatemanager/certificates/63f766c7-3f85-4d83-b528-8ddeec5b436c",
              "readOnly": true
            },
            "metadata": {
              "$ref": "#/components/schemas/ResourceMetadataDto"
            },
            "properties": {
              "$ref": "#/components/schemas/CertificatePropertiesDto"
            }
          }
        },
        "ResourceMetadataDto": {
          "description": "The metadata of the resource.",
          "type": "object",
          "properties": {
            "createdDate": {
              "type": "string",
              "example": "2015-12-04T14:34:09.000Z",
              "description": "The date the resource was created.",
              "readOnly": true
            },
            "createdBy": {
              "type": "string",
              "example": "user@example.com",
              "description": "The user who created the resource.",
              "readOnly": true
            },
            "createdByUserId": {
              "type": "string",
              "example": "45480eb3fbfc31f1d916c1eaa4abdcc3",
              "description": "The ID of the user who created the resource.",
              "readOnly": true
            },
            "lastModifiedDate": {
              "type": "string",
              "example": "2015-12-04T14:34:09.000Z",
              "description": "The date when the resource was last modified.",
              "readOnly": true
            },
            "lastModifiedBy": {
              "type": "string",
              "example": "user@example.com",
              "description": "The user who last modified the resource.",
              "readOnly": true
            },
            "lastModifiedByUserId": {
              "type": "string",
              "example": "63cef532-26fe-4a64-a4e0-de7c8a506c90",
              "description": "The ID of the user who last modified the resource.",
              "readOnly": true
            },
            "state": {
              "type": "string",
              "example": "AVAILABLE",
              "description": "The resource state."
            }
          }
        },
        "CertificatePropertiesDto": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "example": "My Certificate",
              "description": "The certificate name."
            },
            "certificate": {
              "type": "string",
              "example": "-----BEGIN CERTIFICATE-----MIIE5TCCAs2gAwIBAgIBATANBgkqhkiG9w0BAQsFADA2MQswCQYDVQQGEwJSTzEK-----END CERTIFICATE-----",
              "description": "The certificate body."
            },
            "certificateChain": {
              "type": "string",
              "example": "-----BEGIN CERTIFICATE-----MIIDoTCCAokCFDrAUWffdxWJVz2Axl9lp/4xiUteMA0GCSqGSIb3DQEBCwUAMIGG-----END CERTIFICATE-----",
              "description": "Optional. The certificate chain."
            }
          }
        },
        "CertificatePostPropertiesDto": {
          "x-java-class-annotation": "@PemFormatMatch",
          "type": "object",
          "required": [
            "name",
            "certificate",
            "certificateChain",
            "privateKey"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "My Certificate",
              "description": "The certificate name."
            },
            "certificate": {
              "type": "string",
              "example": "-----BEGIN CERTIFICATE-----MIIE5TCCAs2gAwIBAgIBATANBgkqhkiG9w0BAQsFADA2MQswCQYDVQQGEwJSTzEK-----END CERTIFICATE-----",
              "description": "The certificate body."
            },
            "certificateChain": {
              "type": "string",
              "example": "-----BEGIN CERTIFICATE-----MIIDoTCCAokCFDrAUWffdxWJVz2Axl9lp/4xiUteMA0GCSqGSIb3DQEBCwUAMIGG-----END CERTIFICATE-----",
              "description": "The certificate chain."
            },
            "privateKey": {
              "type": "string",
              "example": "-----BEGIN RSA PRIVATE KEY-----MIIJKQIBAAKCAgEAzDehfqWBr+9q0pxwCDDRph7QSPiMbkDGaGKc+Fd2h3doT8Li-----END RSA PRIVATE KEY-----",
              "description": "The RSA private key is used for authentication and symmetric key exchange when establishing an SSL session. It is a part of the public key infrastructure generally used with SSL certificates."
            }
          }
        },
        "CertificatePatchPropertiesDto": {
          "type": "object",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "My Certificate",
              "description": "The certificate name."
            }
          }
        },
        "ConfigPropertyDto": {
          "type": "object",
          "required": [
            "name",
            "value",
            "description"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The property id.",
              "readOnly": true
            },
            "name": {
              "type": "string",
              "description": "The property name."
            },
            "value": {
              "type": "string",
              "description": "The property value."
            },
            "description": {
              "type": "string",
              "description": "The property description."
            }
          }
        }
      }
    }
  }